%h1 Listing jobs
%table
  %thead
    %tr
      %th Role
      %th Location
      %th
      %th
      %th
  %tbody
    Dump:
    = raw JSON.pretty_generate( @job_data ).gsub(" ","&nbsp;").gsub("\n", "<br />")
    - @jobs.each do |job|
      %tr
        %td= job.role
        %td= job.location
        %td= link_to 'Show', job
        %td= link_to 'Edit', edit_job_path(job)
        %td= link_to 'Destroy', job, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Job', new_job_path
